/*
*  Стили для раздела JobList
*/

@import 'https://fonts.googleapis.com/css?family=Arimo:400,700|Poiret+One';

// настрой прокрутку списка на мобильгном экране


.card {
    font-size: 0.775rem; //todo поменяй
    font-family: Poiret One;
}

.card-name {   
    font-size: 0.875rem;
    font-family: Arimo;
}


.list-group-item {
    padding: 0.35rem;   
}

.modal-content {
    //width: 100vw;
}

.card {
    border: none;    
}

.list-group {
    margin-bottom: 1rem;
}
