






/* по отделности каждый модуль  */
@import "../bower_components/bootstrap/scss/functions";
@import "../bower_components/bootstrap/scss/variables";
@import "../bower_components/bootstrap/scss/mixins";
@import "../bower_components/bootstrap/scss/root";
@import "../bower_components/bootstrap/scss/reboot";
@import "../bower_components/bootstrap/scss/type";
@import "../bower_components/bootstrap/scss/images";
@import "../bower_components/bootstrap/scss/code";
@import "../bower_components/bootstrap/scss/grid";
@import "../bower_components/bootstrap/scss/tables";
@import "../bower_components/bootstrap/scss/forms";
@import "../bower_components/bootstrap/scss/buttons";
@import "../bower_components/bootstrap/scss/transitions";
@import "../bower_components/bootstrap/scss/dropdown";
@import "../bower_components/bootstrap/scss/button-group";
@import "../bower_components/bootstrap/scss/input-group";
@import "../bower_components/bootstrap/scss/custom-forms";
@import "../bower_components/bootstrap/scss/nav";
@import "../bower_components/bootstrap/scss/navbar";
@import "../bower_components/bootstrap/scss/card";
@import "../bower_components/bootstrap/scss/breadcrumb";
@import "../bower_components/bootstrap/scss/pagination";
@import "../bower_components/bootstrap/scss/badge";
@import "../bower_components/bootstrap/scss/jumbotron";
@import "../bower_components/bootstrap/scss/alert";
@import "../bower_components/bootstrap/scss/progress";
@import "../bower_components/bootstrap/scss/media";
@import "../bower_components/bootstrap/scss/list-group";
@import "../bower_components/bootstrap/scss/close";
@import "../bower_components/bootstrap/scss/toasts";
@import "../bower_components/bootstrap/scss/modal";
@import "../bower_components/bootstrap/scss/tooltip";
@import "../bower_components/bootstrap/scss/popover";
@import "../bower_components/bootstrap/scss/carousel";
@import "../bower_components/bootstrap/scss/spinners";
@import "../bower_components/bootstrap/scss/utilities";
@import "../bower_components/bootstrap/scss/print";


/* colors variables */
@import "./colors";


/* Custom my style */
@import "./mainStyle";
@import "./style_XS";
@import "./style_M";

@import "./JobList";

@import 'mediascreen';


/* Ovveride Styles */


html {
  //-webkit-text-size-adjust: 250%; // 4



  
}

.container-fluid {
    
}

.modal-xl {

    //    -webkit-width: 100%;
    //-webkit-text-size-adjust: 250%; // 4

    //-webkit-text-size-adjust: 100%; // 4
    
    //background-color: $grey;
    //width: 1500px;
    
   
    
    
}

.modal-dialog {
   // width: 1500px;
    //background-color: $grey;
    //color: red;
    //background: $grey;
    
    
    
    
    
}

.modal-content {
    //widht: 1500px;
    
}


/*
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 95%;
    margin: 1.75rem auto;
    //margin: 5px;
    
  }
}*/





@media (min-width: 576px) {

    .form-control  {
        flex-grow:2;
    
    }
    
   
}

 .form-inline {
        flex-flow: nowrap;
        
    }
    
    
/*    
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 144dpi)  {
   
   
   
html {
  -webkit-text-size-adjust: 100%; // 4



} 
}*/
  



    



/*@media screen and (max-width: 380px) {

    html {
        -webkit-text-size-adjust: none; // 4
    } 
}


@media screen and (min-width: 380px) and (max-width: 680px) {

    html {
        -webkit-text-size-adjust: none; // 4
    } 


}*/



/*
@media screen and (-webkit-min-device-pixel-ratio: 2) { 
   //эта настройка срабатывает.
    
    html {
        color: red;
        -webkit-text-size-adjust: none;
        
    }


    body {
            background-color: $grey;
            //color: red;
        }
    
     Экраны маленьго размера 
    @media (max-device-width: 380px) {

        html {
              -webkit-text-size-adjust: 200%; // 4
        }
   
        body {
           color: red;
        }
    
    }

    
    
    
    

}*/


 
@include device(iPhone6, landscape) {
    
    body {
        background-color: green;
        
    }
    
     html {
              -webkit-text-size-adjust: 150%; // 4
    }
    
    
}
 

@include device(iPhone6, portrait) {
    
    html {
              -webkit-text-size-adjust: 300%; // 4
    }
        
    body {
        background-color: yellow;
        
    }
}




// для всех мобильных экранов. мой Vertex Luck 854x480
@include device(mobile, portrait) {
    
    html {
              -webkit-text-size-adjust: 300%; // 4
    }
        
    body {
        background-color: yellow;
        
    }
}