<% layout('layout/page') -%>

<% block('title', 'Forgot password'); -%>


          
  <h1>Восстановление пароля</h1>
  
  
  <form id="forgot-form">
  <div class="form-group">
    <label for="exampleInputEmail1">Адрес эл.почты</label>
    <input type="email" class="form-control col-md-12" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите email">
  </div>
      
      
   
      
  <button type="submit" class="btn btn-primary col-md-12">Отправить</button>
</form>
      
      
          