<% layout('layout/page') -%>

<% block('title', 'Аутентификация'); -%>



<h1>Аутентификация</h1>
  
  

<% if (message.length > 0 ) { %>
<div class='alert alert-danger'>
    <p>my flash message: <%= message %> </p>
</div>
<% } %>


<form id="login-form" action='/login' method='POST' accept-charset='utf-8'>
    <div class="form-group">
      <label for="exampleInputEmail1">Адрес эл.почты</label>
      <input type="email" name='email' class="form-control col-md-12" id="InputEmail" aria-describedby="emailHelp" placeholder="Введите email" required>
      <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Пароль</label>
      <input type="password" name='password' class="form-control col-md-12" id="InputPassword" placeholder="Password" required>
    </div>
      
      
    <a href='/forgot'>
          <small id="ForgotPass" class="form-text text-muted">Забыли пароль?</small>
    </a>
    <br>
      
    <button type="submit" class="btn btn-primary col-md-12">Sign In</button>
    
</form>
  

<script src="./js/login_load.js"></script>
