<% layout('layout/page') -%>

<% block('title', 'Авторизация'); -%>

<script src="./js/register_load.js"></script>


  <h1>Регистрация</h1>
  
 
<% if (warning.length >0) { %>
<div class='alert alert-warning'>
    <p>my flash message warning: <%= warning %> </p>
</div>
<% } %>


<div id='alert'></div>
    
      
<form id="register_form">

    <div class="form-group md-6">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail">
    </div>
      
    <div class="form-group md-6">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword">
    </div>
    
    <div class="form-group md-6">
        <label for="inputName">Фамилия и Имя</label>
        <input type="text" class="form-control" id="inputName">
    </div>

    <div class="form-group md-6">
      <label for="position">Должность</label>
      <input type="text" class="form-control" id="inputPosition">
    </div>
    
    <div class="form-group md-6">
      <label for="departament">Цех, участок</label>
      <input type="text" class="form-control" id="inputDepartament">
    </div>
      
      
      
  
   
  <button type="submit" id='register' class="btn btn-primary col-md-12">Sign up</button>
  
<!--  todo
  <h3 class='text-center col-md-12'>или</h3>
  <button type="button" class="btn btn-outline-info col-md-12">Авторизация через Google</button>-->
  
</form>
  <br>
  