<% layout('layout/page') -%>

<% block('title', 'Авторизация'); -%>

  <h1>Регистрация</h1>
  
      
      
<form id="register_form">

    <div class="form-group md-6">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail">
    </div>
      
    <div class="form-group md-6">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    
    <div class="form-group md-6">
        <label for="inputName">Фамилия и Имя</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>

    <div class="form-group md-6">
      <label for="position">Должность</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    
    <div class="form-group md-6">
      <label for="departament">Цех, участок</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
      
      
      
    
    
  
  
   
  <button type="submit" id='register' class="btn btn-primary col-md-12">Sign up</button>
  
  <h3 class='text-center col-md-12'>или</h3>
  
  <button type="button" class="btn btn-outline-info col-md-12">Авторизация через Google</button>
  
</form>
  <br>
  