
<div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight">
        <a href='/about'><p>О проекте</p></a>
        
    
    </div>
    
    <div class="p-2 bd-highlight">
        <p>ООО "Локотех-Сервис"
            <br>
        Сервисное-локомотивное депо петрозаводск</p>


    
    </div>
    
</div>

    


