node_modules/

public/bower_components/
public/css/


config/config_dev.json
config/config_prod.json
config/config_test.json


.vscode/
nbproject/



package-lock.json

.env
.development.env
.production.env
.testing.env

