<% layout('layout/page') -%>

<% block('title', 'О проекте'); -%>


<script src="./js/about_load.js"></script>


  

<h1>О проекте</h1

<h2>Вэб приложение - журнал РХУ</h2>

    
    <p>Разработчик приложения Ирашин Дмитрий Андреевич</p>
    <p>Бригадир участка по ремонту технологического оборудования СЛД Петрозаводск - Локотех-Сервис</p>
    <p>телефон: +7 921 727 1984</p>
    <p>Email: irashin.dim@gmail.com</p>
    
    
    <p>
        Приложение создано в целях автоматизации некоторых бизнесс-процессов 
        на участке РХУ (Участок по ремонту технологического оборудования и Хозяйственный участок)
        А именно: Ведение журнала заявок, и автоматизированный прием заявок от 
        цехов.
        
    </p>