<% layout('layout/page') -%>
<% block('title', 'Error 404 Not Found'); -%>


<script src="./js/error_load.js"></script>
  

<h1>Страница одной ошибки</h1

    <div class="Error">

        <img src="./images/404.jpeg"  width="300px" border:0 alt="Error"/>
        <!--<h1>Ошибка 404</h1>-->

        <p>Вы попали сюда, потому что: 
            <% if (error.length > 0) { %>
        <p> <%=error %></p>
            <% } else { %>
        <p>набрали неверный адрес, либо непонятно почему.</p>
            <% } %>
        <br>
        
        
        <p> <a href="/">Начните с начала!</a></p>
    </div>
