<% layout('layout/page') -%>

<% block('title', 'Задачи сегодня'); -%>


  <script>
  $( function() {
    $( "#datepicker" ).datepicker({
         changeMonth: true
    });
  });
  </script>
  
  <p>Date: <input type="text" id="datepicker"></p>
  
  
  <h2>Сегодня dd/mm/yy</h2> 

  

  <h1>Главная страница</h1>
  <h2>Вэб приложение - рабочее место мастера ремонтного участка
      
      
          