<% layout('layout/page') -%>

<% block('title', 'Главная страница'); -%>


<script src="./js/index_load.js"></script>


<h1>Главная страница</h1>


<% if (message.length > 0 ) { %>
<div class='alert alert-success'>
    <p>my flash message: <%= message %> </p>
</div>
<% } %>

<% if (warning.length > 0 ) { %>
<div class='alert alert-warning'>
    <p>Warning flash message: <%= warning %> </p>
</div>
<% } %>





<h2>Вэб приложение - журнал РХУ
      
<h2>Для начала работы пройдите регистрацию и аутентификацию</h2>
<p>После регистрации вы сможете, создавать заявки - задачи, и отслуживать их статус.
    
<p>Посмотреть все задачи участка РХУ 
<p>Посмотреть различные отчеты по выполненным работам и по текущим заявкам.
<p>Настроить отчеты под определенные требования, получить определенную статистику.
    
          